.wrapper-product-list {
  display: flex;
  height: 100%;

  .sidebar {
    width: 200px;
    height: 100%;
  }

  .sidebar.loading {
    opacity: 0.5;
    pointer-events: none;
  }

  .content {
    flex: 1 0 auto;
  }
}

@media (max-width: 768px) {
  .wrapper-product-list {
    flex-direction: column;

    .sidebar {
      width: 100%;
    }
  }
}
