.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 768px) {
    & {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    & {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    & {
      width: 1170px;
    }
  }
}

.alice-carousel__dots-item {
  background-color: #b4adad !important;
}
.alice-carousel__dots-item.__active {
  background-color: black !important;
}
