body {
  margin: 0;
  padding: 0;
  /* line-height: 24px;
  font-size: 14px; */
  font-family: "Roboto", sans-serif;
  /* font-weight: 400; */
  color: #777777;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
}
